h1,
h2,
h3,
h4,
button {
    font-family: $headerFont;
}
h1 {
    font-weight: bold;
    font-size: 7vw;
    letter-spacing: 0.1vw;
    line-height: 10vw;
    color: $secondaryColour;
    text-shadow: 4px 4px black, 8px 8px $primaryColour;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.4rem;
    margin: 20px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid $secondaryColour;
}
i:hover {
    color: $primaryColour;
    transition: all 0.4s;
    scale: 1.5;
}
p { 
    font-family: $bodyFont;
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 20px 0 40px 0;
}
.recently-played p {
    margin-bottom: 0;
}
.recently-played a,
.other-functions a {
    text-decoration: none;
    color: black;
}
h2.other-headers:hover {
    text-shadow:$primaryColour 5px 5px 1px;
    
}
.socials p {
    padding-bottom: 5px;
    border-bottom: 1px solid $primaryColour;
}
em {
    font-weight: 900;
    border-bottom: 1px solid $primaryColour;
}
.underline {
    border-bottom: 2px solid black;
}
.footer-text h4,
.footer-text p {
    color: white;
}