header {
    background-image: url(../assets/header-keanu3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}
.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    border-bottom: none;
    height: 100vh;
    position: relative;
}

.fa-heart {
    color: #f05d5e;
    position: absolute;
    font-size: 5rem;
    top:50px;
    right:400px;
    text-shadow: 4px 4px $primaryColour, 8px 8px $secondaryColour;
    transition: 0.5s;
    animation: pulseHeart 3s 0.1s ease-out infinite;
}
.header-down-arrow {
    position: absolute;
    bottom: 5vh;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    color: white;
}
.header-down-arrow i {
    animation: fade-slide-up 0.5s 0.5s ease-out forwards,
    pulse 2s 0.1s ease-out infinite;
    opacity: 0;
}

