@import 'setup';
@import 'variables';
@import 'fonts';
@import 'header';
@import 'animations';

body {
    background-color: $backgroundColour;
}
audio {
    display: none;
}
button {
    background-color: $backgroundColour;
    border:$backgroundColour solid 2px;
}
button:focus {
    border:$secondaryColour solid 2px;
}
img {
    width: 100%;
    height: auto;
}
.gallery-images img {
    box-shadow: 5px 5px $primaryColour;
    min-width: 100px;
    max-width: 225px;
    border-radius: 50%;
    border: 5px solid black;
}
i {
    font-size: 1.5rem;
    margin:0 10px;
}
i:first-child{
    margin-left: 20px;
}
.grid {
    width: 80%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}
img:hover {
    opacity: 0.9;
}
.other-functions,
.recently-played {
    display: flex;
    justify-content: center;
    align-items: center;
} 
.header-text, 
.gallery-images, 
.other-functions, 
.recently-played {    
    border: $backgroundColour solid 2px;
} 
.footer-text,
.icon {
    color: white;
    border: black solid 2px;
}
.gallery-images img:hover{
    box-shadow: 5px 5px $secondaryColour, 10px 10px $primaryColour;

}
.header-text:focus, 
.gallery-images:focus, 
.other-functions:focus, 
.recently-played:focus,
.footer-text:focus,
.icon:focus {    
    border:$secondaryColour solid 2px;
} 
.button-section button:focus,
.button-section button:hover {
    background-color: $secondaryColour;
    border:$secondaryColour solid 2px;
    color: white;
    transition: 0.1s;
    box-shadow: 8px 8px black;

}
body:not(.focus-outline) [tabindex]:focus {
    border: $backgroundColour solid 2px;
    outline: none;
}
.other-functions {
    height: 10vh;
}
.recently-played {
    flex-direction: column;
    align-items: center;    
}

.button-section {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.recently-played-section {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
h4.last-played {
    margin-top: 20px;
}
.dynamic-images {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: 20px 20px;
}
button.yellow {
    text-transform: uppercase;
    font-size: 1.5rem;
    border: $primaryColour solid 2px;
    border-radius: 5px;
    background: $primaryColour;
    padding: 15px 40px;
    margin: 40px 0;
}
button.yellow:focus {
box-shadow: 8px 8px black;
transition: 0.1s;
}
button.yellow:active {
    box-shadow: none;
    transform: scale(0.9);
}
.dynamic-images img {
    width: 100%;
    min-width: 50px;
    max-width: 112px;
    border: 3px solid $secondaryColour;
    border-radius: 50%;
}
footer {
    margin-top: 40px;
    padding-bottom: 10px;
    background-color: black;
}
.footer-text {
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.footer-text p {
    margin: 0px 0 10px 0;
}
.socials {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: baseline;
} 
.fa-instagram {
    color: #1DB954;
}
.fa-twitter {
    color:#1DA1F2;
}
.fa-linkedin-in {
    color: #0072b1;
}
.fa-envelope {
    color: $secondaryColour;
}
.fa-github {
    color: #f05d5e;
}

//                               MEDIA QUERIES 
    @media(max-width: 1200px) {
        
        .grid {
            width: 90%;
        }
        button.yellow {
            font-size: 1.1rem;
            border: $primaryColour solid 1px;
            padding: 15px 30px;
            margin: 30px 0;
        }
        .fa-heart {
            top:90px;
            right:200px;
        }
    }
    //IPAD LANDSCAPE
    @media(max-width: 1025px){
        .last-played,
        .dynamic-images {
            display: none;
        }
    }
//IPAD PRO
    @media (max-width: 834px) {
        .wrapper {
            width: 90%;
        }
        header {
            height: 60vh;
            width: 100%;
        }
        .header-text {
            position: relative;
        }
        .fa-heart {
            top:50px;
            right:150px;
            font-size: 3rem;
        }
        .header-down-arrow {
            display: none;
        }
        .header-text {
            margin-top: 20px;
            height: 60vh;
        }
        h1 {
            font-size: 3rem;
            line-height: 3.7rem;
        }
        h2 {
            font-size: 2.5rem;
        }
        h3 {
            font-size: 1.6rem;
        }
        .grid {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
    }
//                                        STANDARD IPAD
    @media(max-width: 768px) {
        h3 {
            font-size: 1.3rem;
        }
        h4 {
            font-size: 1.2rem;
            margin: 20px 0;
            padding-bottom: 5px;
        }
        .recently-played-section {
            width: 90%;
        }    
        .button-section {
            width: 90%;
        }
        button.yellow {
            font-size: 1rem;
            padding: 15px 20px;
            margin: 20px 0;
        }   
        .dynamic-images img {
            width: 100%;
            min-width: 30px;
            max-width: 80px;
            border: 3px solid $primaryColour;
        }
        .footer-text {
            width: 80%;
            text-align: left;
        }
        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    // GENERAL MOBILE
    @media (max-width:450px) {
        header {
            height: 40vh;
        }
        .header-text {
            height: 40vh;
        }
        .fa-heart {
            top: 20px;
            right: 100px;
        }
        .wrapper {
            width: 95%;
        }
        .recently-played-section {
            width: 99%;
        }    
        .button-section {
            width: 99%;
        }
        button.yellow {
            font-size: 1rem;
        }   
        h1 {
            font-size: 2.5rem;
            line-height: 3rem;
        }
        .grid {
            margin: 40px 0 0 0;
            width: 100%;
        }
    }
// iPHONE BIG

    @media(max-width: 414px) { 
        .wrapper {
            width: 99%;
        }
        .grid {
            grid-template-columns: 1fr 1fr;
            width: 100%;
        }  
        .button-section {
            flex-direction: column;
        }
    }
// iPHONE TINY GUY
    @media(max-width: 320px) { 
        header {
            height: 50vh;
        }
        .header-text {
            margin: 0;
            height: 50vh;
        }
        .fa-heart {
            top: 50px;
            left: 200px;
        }
        h1 {
            font-size: 2rem;
            line-height: 2.5rem;
        } 
        h3 {
            font-size: 1rem;
        }
        .gallery-images {
            width: 45%;
        }
        i {
            font-size: 1.2rem;
            margin:0 1px;
        }
        
    }
}