@import 'setup';
@import 'variables';
@import 'fonts';
@import 'header';

img {
    max-width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-gap: 10px;
    text-align: center;
  
}
img:hover {
    opacity: 0.5;

}
